<!-- <div class="container-fluid bg-primary">
    <header class="d-flex py-3">
      <ul class="nav nav-pills  justify-content-left ">
      <h4> <li class="nav-item"><a href="#" class="nav-link active " aria-current="page">Loan Management System</a></li></h4>
      </ul>
      
      
    </header>
  </div>
  <br> -->
  
<nav class="navbar navbar-inverse ">
  <div class="container-fluid p-3 mb-2 bg-primary ">
    <div class="navbar-header ">
      <h2><a class="navbar-brand text-white" >Loan Management System</a></h2>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand text-white" type="button"(click)="logout()">Logout</a>
      
      
    </ul>
  </div>
</nav>
